<div class="video-wrapper">
    <div class="video-tracker w-full">
        <video class="video w-full" src="/assets/mp4/{{ source }}" muted="muted">
            Sorry, your browser doesn't support embedded videos.
        </video>
    </div>
</div>
