/* Webfont: TheMix-B6SemiBold */@font-face {
    font-family: 'TheMixSemBdB';
    src: url('TheMix-B6SemiBold.eot'); /* IE9 Compat Modes */
    src: url('TheMix-B6SemiBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('TheMix-B6SemiBold.woff') format('woff'), /* Modern Browsers */
         url('TheMix-B6SemiBold.ttf') format('truetype'), /* Safari, Android, iOS */
         url('TheMix-B6SemiBold.svg#TheMix-B6SemiBold') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: bold;
    text-rendering: optimizeLegibility;
}

