/* Webfont: TheMix-B7BoldItalic */@font-face {
    font-family: 'TheMixB';
    src: url('TheMix-B7BoldItalic.eot'); /* IE9 Compat Modes */
    src: url('TheMix-B7BoldItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('TheMix-B7BoldItalic.woff') format('woff'), /* Modern Browsers */
         url('TheMix-B7BoldItalic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('TheMix-B7BoldItalic.svg#TheMix-B7BoldItalic') format('svg'); /* Legacy iOS */
    font-style: italic;
    font-weight: bold;
    text-rendering: optimizeLegibility;
}

