<footer class="page">
    <div class="pt-16 bg-grey">
        <div class="container py-6 px-16 mx-auto">
            <h1 class="text-5xl text-center w-full mb-8">Verbonden met de stad</h1>
            <p class="text-center w-full mb-12">
                Wij willen dat de Bibliotheek Eindhoven van de stad is. We kijken met<br>
                plezier terug op een jaar waarin we veel samen hebben gedaan.<br>
                Elke samenwerking is een verrijking en maakt de bieb meer “van ons allemaal”.<br>
                Dank voor de fijne samenwerking het afgelopen jaar!
            </p>
            <p class="text-center w-full mx-auto mb-16" style="max-width: 1080px">
                <a target="_blank" href="https://24uurinbedrijf.nl/">24 uur in bedrijf</a>
                /
                <a target="_blank" href="http://www.55pluseducatief.nl/">55PlusEducatief</a>
                /
                <a target="_blank" href="https://www.augustinianum.nl/">Augustinianum</a>
                /
                <a target="_blank" href="#">Bibliotheken Zuidoost Brabant</a>
                /
                <a target="_blank" href="https://www.getbksy.com/">BKSY app</a>
                /
                <a target="_blank" href="https://www.libris.nl/vanpiere">Boekhandel Van Piere</a>
                /
                <a target="_blank" href="https://nl-nl.facebook.com/borstvoedingscafeeindhoven/">Borstvoedingscafe</a>
                /
                <a target="_blank" href="https://cke.nl/">CKE</a>
                /
                <a target="_blank" href="https://coderdojo.nl/">CoderDojo</a>
                /
                <a target="_blank" href="http://www.cubiss.nl">Cubiss</a>
                /
                <a target="_blank" href="https://www.cultuurstation.nl/">Cultuurstation</a>
                /
                <a target="_blank" href="http://www.datastudio-eindhoven.nl/">Datastudio</a>
                /
                <a target="_blank" href="http://dekrook.be/">De Krook Gent</a>
                /
                <a target="_blank" href="https://www.derooipannen.nl/">De Rooi Pannen</a>
                /
                <a target="_blank" href="https://www.deschoolschrijver.nl/">De schoolschrijver</a>
                /
                <a target="_blank" href="https://www.designacademy.nl/">Design Academy</a>
                /
                <a target="_blank" href="https://www.dikkie-en-dik.nl/">Dikkie &amp; Dik Kinderopvang</a>
                /
                <a target="_blank" href="https://dokk1.dk/english">Dokk1 Aarhus</a>
                /
                <a target="_blank" href="https://www.dutchtechnologyweek.com/">DTW</a>
                /
                <a target="_blank" href="http://www.ddw.nl/">Dutch Design Week</a>
                /
                <a target="_blank" href="http://www.dutchhappinessweek.nl/">Dutch Happiness Week</a>
                /
                <a target="_blank" href="https://www.dynamo-eindhoven.nl">Dynamo</a>
                /
                <a target="_blank" href="https://www.eindhovendoet.nl/home">Eindhoven Doet</a>
                /
                <a target="_blank" href="http://www.eindhovenkantelt.nl/">Eindhoven Kantelt</a>
                /
                <a target="_blank" href="http://www.prehistorischdorp.nl/nl">Eindhoven Museum</a>
                /
                <a target="_blank" href="http://www.eindhovendeelt.nl/eindhoven.html">EindhovenDeelt</a>
                /
                <a target="_blank" href="https://www.ed.nl/regio/">Eindhovens Dagblad</a>
                /
                <a target="_blank" href="https://www.edic-eindhoven.nl/">Europe Direct Eindhoven</a>
                /
                <a target="_blank" href="https://www.ebsonline.nl">Evangelische basisschool online</a>
                /
                <a target="_blank" href="https://www.fnv.nl/">FNV</a>
                /
                <a target="_blank" href="https://fontys.nl/">Fontys Hogeschool</a>
                /
                <a target="_blank" href="https://g1000.nu/">G1000</a>
                /
                <a target="_blank" href="https://www.alzheimer-nederland.nl/regios/zuidoost-brabant/geheugenkracht">GeheugenKracht</a>
                /
                <a target="_blank" href="http://www.geluksroute.nu/editie/eindhoven/">Geluksroute</a>
                /
                <a target="_blank" href="https://www.waalre.nl https://www.eindhoven.nl/">Gemeenten Eindhoven en Waalre</a>
                /
                <a target="_blank" href="http://www.ggze.nl/">GGzE</a>
                /
                <a target="_blank" href="https://www.humanitas.nl/">Humanitas</a>
                /
                <a target="_blank" href="http://www.isecampus.nl/Flex/Site/Page.aspx?PageID=&amp;Lang=">Internationale school</a>
                /
                <a target="_blank" href="https://www.tarieq.nl">Islamitische basisschool Tarieq</a>
                /
                <a target="_blank" href="https://www.kbo-brabant.nl/grouppage.php?action=view&amp;Groep_Id=593">KBO-kring Eindhoven</a>
                /
                <a target="_blank" href="http://www.trudo.nl/actueel/nieuwe-kids-plus-activiteiten-voor-tieners-in-woensel-west">Kids Plus (Sint Trudo)</a>
                /
                <a target="_blank" href="https://www.kb.nl">Koninklijke Bibliotheek</a>
                /
                <a target="_blank" href="https://www.wijzijnjong.nl">Koreingroep</a>
                /
                <a target="_blank" href="http://popupyogaeindhoven.nl/">Lady Aida</a>
                /
                <a target="_blank" href="http://www.lcl.nl/">Lorentz Casimir Lyceum</a>
                /
                <a target="_blank" href="http://www.lumenswerkt.nl/">Lumensgroep</a>
                /
                <a target="_blank" href="http://madlab.nl/">MAD</a>
                /
                <a target="_blank" href="http://www.microlab-eindhoven.nl/">Microlab</a>
                /
                <a target="_blank" href="http://www.beamitup.nl/">Moved</a>
                /
                <a target="_blank" href="http://mudmagazine.nl/">MUD Magazine</a>
                /
                <a target="_blank" href="https://www.mytylschooleindhoven.nl">Mythylschool</a>
                /
                <a target="_blank" href="https://www.natlab.nl/">Natlab door Plaza Futura</a>
                /
                <a target="_blank" href="https://www.neos.nl/">Neos</a>
                /
                <a target="_blank" href="https://www.parktheater.nl/">Parktheater</a>
                /
                <a target="_blank" href="https://www.kinderopvangtotaal.nl">Platform Samenwerkende Kindercentra Eindhoven (PSKE)</a>
                /
                <a target="_blank" href="http://www.plusbibliotheken.nl/">Plusbibliotheken</a>
                /
                <a target="_blank" href="https://www.facebook.com/Poezieclub.Eindhoven/">Poëzieclub Eindhoven</a>
                /
                <a target="_blank" href="http://www.proeftuin040.nl/">Proeftuin040</a>
                /
                <a target="_blank" href="https://www.rabobank.nl/lokale-bank/eindhoven-veldhoven/">Rabobank Eindhoven – Veldhoven</a>
                /
                <a target="_blank" href="https://rijkt.nl/">Rijkt</a>
                /
                <a target="_blank" href="https://www.rodekruis.nl/">Rode Kruis</a>
                /
                <a target="_blank" href="https://www.rotary.nl/eindhoven/">Rotary</a>
                /
                <a target="_blank" href="http://www.salto-eindhoven.nl">SALTO</a>
                /
                <a target="_blank" href="http://www.samenvooreindhoven.nl/">Samen voor Eindhoven</a>
                /
                <a target="_blank" href="http://www.sardes.nl/">Sardes</a>
                /
                <a target="_blank" href="http://school23.nl/">School23</a>
                /
                <a target="_blank" href="https://seats2meet.com/nl">Seats2Meat</a>
                /
                <a target="_blank" href="http://www.trudo.nl/">Sint Trudo</a>
                /
                <a target="_blank" href="https://www.sintjoriscollege.info/">Sint-Joriscollege</a>
                /
                <a target="_blank" href="https://www.sintlucas.nl/">SintLucas</a>
                /
                <a target="_blank" href="http://www.skpo.nl/">SKPO</a>
                /
                <a target="_blank" href="https://www.sociaalwerknederland.nl">Sociaal Raadsliedenwerk</a>
                /
                <a target="_blank" href="http://soulstories.nl/">Soulstories</a>
                /
                <a target="_blank" href="https://www.ssoe.nl/">SSOE</a>
                /
                <a target="_blank" href="#">Stadsdichter Eindhoven</a>
                /
                <a target="_blank" href="http://www.stedelijkcollege.nl/">Stedelijk College Eindhoven</a>
                /
                <a target="_blank" href="http://stercollege.nl">Stercollege</a>
                /
                <a target="_blank" href="http://www.sterkerwerkt.nl/">Sterker Werkt!</a>
                /
                <a target="_blank" href="https://www.steunpuntuitkeringen.nl/">Steunpunt uitkeringsgerechtigden</a>
                /
                <a target="_blank" href="http://www.stichtingikwil.nl/">Stichting Ik Wil</a>
                /
                <a target="_blank" href="#">Stichting Jureka</a>
                /
                <a target="_blank" href="http://www.lezenenschrijven.nl/">Stichting Lezen &amp; Schrijven</a>
                /
                <a target="_blank" href="https://www.summacollege.nl/">Summacollege</a>
                /
                <a target="_blank" href="https://www.t-huis.info">T+ Huis</a>
                /
                <a target="_blank" href="http://techniekbieb.nl/">Techniekbieb</a>
                /
                <a target="_blank" href="http://www.tegenlicht040.nl/">Tegenlicht MeetUp</a>
                /
                <a target="_blank" href="https://totaalinburgering.nl">Totaal inburgering</a>
                /
                <a target="_blank" href="http://www.trefpuntgroeneindhoven.nl/">Trefpunt Groen Eindhoven</a>
                /
                <a target="_blank" href="https://www.tue.nl/">TU/e</a>
                /
                <a target="_blank" href="https://www.thisiseindhoven.com/nl/visit/wat-te-doen/cultuur/uit-in-eindhoven">Uit in Eindhoven</a>
                /
                <a target="_blank" href="https://vanabbemuseum.nl">Van Abbemuseum</a>
                /
                <a target="_blank" href="https://www.vanmaerlantlyceum.nl/">Van Maerlant Lyceum</a>
                /
                <a target="_blank" href="http://www.debibliotheken.nl">Vereniging voor Openbare Bibliotheken</a>
                /
                <a target="_blank" href="https://www.vitalisgroep.nl/">Vitalis</a>
                /
                <a target="_blank" href="https://www.vluchtelingenwerk.nl/">Vluchtelingenwerk</a>
                /
                <a target="_blank" href="https://www.spildesterren.nl/">Vrije School Brabant</a>
                /
                <a target="_blank" href="https://wijeindhoven.nl/">Wij Eindhoven</a>
                /
                <a target="_blank" href="https://wijeindhoven.nl/nl">WIJ Eindhoven</a>
                /
                <a target="_blank" href="https://www.zuidzorg.nl">Zuidzorg</a>
            </p>
            <p class="text-center w-full">Met dank aan:</p>
        </div>
    </div>
    <div class="bg-white">
        <div class="container mx-auto px-6">
            <img class="block" src="/assets/footer/samenwerkingen.png">
        </div>
    </div>
    <div class="py-16 px-6 bg-grey">
        <div class="container mx-auto flex flex-wrap" style="max-width: 1080px;">
            <div class="w-1/3 flex items-end">
                <div class="flex flex-wrap items-start">
                    <img class="block" src="/assets/footer/link-white.svg" style="width: 44px;">
                    <a class="flex-grow" target="_blank" href="http://www.hetjaarinbeeld.nl/2017/">
                        Klik hier om het jaarverslag<br>
                        van 2017 te bekijken
                    </a>
                </div>
            </div>
            <div class="flex-grow flex items-end justify-center">
                <div class="up text-center">
                    <img class="block mb-4 mx-auto w-2/5" src="/assets/footer/arrow.svg">
                    terug omhoog
                </div>
            </div>
            <div class="w-1/3 flex items-end justify-end">
                <a target="_blank" href="https://www.bibliotheekeindhoven.nl"><img class="block" src="/assets/footer/footer-logo.svg"></a>
            </div>
        </div>
    </div>
</footer>
